/* Flexbox */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Gap */
.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

/* Margins */
.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}
